body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('/images/Background.jpg') !important;
    color: lightgray !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mainheader {
    background-color: #b70303 !important;
    color: lightgray !important;
    font-weight:bold;
    border:hidden !important
}



.byline p
{
    text-align: center !important;
    color: #c6c6c6 !important;
    font: bold 18px Arial, Helvetica, Sans-serif !important;
    text-shadow: 0 2px 3px rgba(0,0,0,0.1) !important;
}


.add-on .input-group-btn > .btn {
    border-left-width: 0;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #cccccc;
}

.form-control {
    width: 30%
}

h2 {
    text-shadow: 2px 2px 4px #b70303 !important;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: transparent;
}
th { background-color: lightgray !important;
     color: black;
}