@model IEnumerable<Garage_MVC_AmerAwras.Models.ParkedVehicle>

<h2>About</h2>

<div class="row">
    <h3>Garage2.0 Application:</h3>
    <p>
        Asp.Net MVC application. keywords: Asp.net MVC, C#, Entity Framework, JavaScript, HTML5, CSS3, Bootstap.
        The application has to do with Garage handling. The user will be able to park and unpark one of the Five vehicle types ex. Airplane, Car, Motorcycle, Bus and Boat which we use in the application.
        At the same time the user should have full information about the parking time, the different types of vehicles allowed at the garage, and the user should also receive a receipt when it is about to unpark.
        Finally the user should have the ability to search different types of vehicles or to search for a particular vehicle using any of it's properties.
    </p>


</div>
<div class="row">
    <div>
        <h2>Who we are?</h2>
        <p>
            We are Junior Developer and specialist in .Net,   .
        </p><br />
        <div class="row">
            <div class="text-center">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="~/img/Avatar6.jpg" alt="Amer Durzi">
                        <div class="caption">
                            <h3>Amer Durzi</h3>
                            <p>Junior.net Developer at LEXICON Yrkesutbildning</p>
                            <p><a href="https://www.linkedin.com/in/amer-durzi/" class="btn btn-primary" role="button">LinkedIn</a> <a href="https://github.com/amerdurzi" class="btn btn-success" role="button">GitHub</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/oras.jpg" alt="Awras Abdulsattar" style="width:40%">
                        <div class="caption">
                            <h3>Awras Abdulsattar</h3>
                            <p>Junior Developer and specialist in .Net and SQL Server</p>
                            <p><a href="https://www.linkedin.com/in/awras-abdulsattar-b5860a129/" class="btn btn-primary" role="button">LinkedIn</a> <a href="https://github.com/AwrasAlazawi" class="btn btn-success" role="button">GitHub</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/olof.jpg" alt="Olof Karlstand" style="width:55%">
                        <div class="caption card">
                            <h3>Olof Karlstand</h3>
                            <p>Junior .NET utvecklare. Arkivvetenskap, Etnologi, Ekonomisk Historia</p>
                            <p><a href="https://www.linkedin.com/in/olof-karlstrand-496717160/" class="btn btn-primary" role="button">LinkedIn</a> <a href="https://github.com/OlofKarlstrand" class="btn btn-success" role="button">GitHub</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
