
@model IEnumerable<Garage_MVC_AmerAwras.Models.ParkedVehicle>


<h2>Contact</h2>
<h3></h3>

<address>
    Lexicon IT <br />
    Liljeholman, WA 98052-6399<br />
    <abbr title="Phone">Mobile:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="awrasabdulsattar@hotmail.com">awrasabdulsattar@hotmail.com</a><br />
    <strong>Manager:</strong> <a href="infoaf@lexicon.se">infoaf@lexicon.se</a>
</address>