  @{  
 ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    
    416 Cherry Street<br />
    Langley Falls, VA, 23665<br />


   </address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">LegsandWheels@Support.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">LegsandWheels@Marketing.com</a>
</address>