@model IEnumerable<Garage_MVC_AmerAwras.Models.ParkedVehicle>

@{
    ViewBag.Title = "GaragePage";
}
<h2>Welcome to Garage Application 2.0</h2>
<img src="~/images/Garage.png">

<p>Use this area to provide additional information.</p>
