
@model IEnumerable<Garage_MVC_AmerAwras.Models.ParkedVehicle>

@{
    ViewBag.Title = "GaragePage";
}
<h2>Welcome to Wheels & The Legman</h2>
<img src="~/images/Parking-Garage.png">

<p>Please Feel Free To Use The Garage In Any Way You Need</p>