
@model IEnumerable<Garage_MVC_AmerAwras.Models.ParkedVehicle>

@{
    ViewBag.Title = "GaragePage";
}
<h2>Welcome to Wheels & The Legman</h2>
<img src="~/images/Parking-Garage.png">

<p>Please Feel Free To Use The Garage In Any Way You Need</p>

<div class="row">
    <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
            <img src="~/images/car.jpg" alt="Car">
        </div>
    </div>
    <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
            <img src="~/images/airplane.jpg" alt="Airplane" style="width:88%" >
        </div>
    </div>

    <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
            <img src="~/images/boat.jpg" alt="Boat"  style="width:85%">
        </div>
    </div>
    <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
            <img src="~/images/bus.jpg" alt="Buss">
        </div>
    </div>

    <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
            <img src="~/images/Motorcycle.jpg" alt="Motorcycle"  >
        </div>
    </div>
</div>
